<div class="field">
  <%= label_tag nil, t(:affiliate) %>
  <%= f.select :affiliate_name_in, Spree::Affiliate.uniq.pluck('`name`').sort, {:include_blank => true}, :class => 'select2', :multiple => true %>
</div>
